/* Titulo */

h2{
    margin-top: 2%;
    margin-left: 10px;
    color:black;
}

/* Grid de esqueleto */
.grid{
    display:grid;
    grid-template-columns: 0.5fr 2fr;
    grid-template-areas: "columna1 columna2";  
}

.columna1 {
    grid-area: columna1;
}

.columna2 {
    grid-area: columna2;
    align-items: center;
}
/* Calendario */

.demo-inline-calendar-card {
    width: 300px;
    padding: 8px;
}

/* Tabla de turnos reservados */

.tabla {
    width: 100%;
    margin-left:8px;
}

mat-paginator{
    width: 100%;
    margin-left:8px;
}
  
.mat-column-Hora {
  width: 32px;
  border-right: 1px solid currentColor;
  padding-right: 24px;
  text-align: center;
}
.mat-column-Paciente {
  padding-left: 16px;
}
.mat-column-O.Social {
  width: 32px;
}

mat-form-field{
    width: 100%;
    padding: 0;
}

::ng-deep .mat-datepicker{
    width: 10px !important;
}
