header{
    margin-left:10px;
    margin-top:5%;
    color:black;
}

.card{
    display:flex;
    height: 75vh;
}

.contenido{
    display:flex;
    width: 100%;
    width: 90%;
    align-content: space-between;
}

.campoInput {
    margin: 5px;
}

.buscar{
    border:none;
    background: #fafafa;
    color: rgb(86, 161, 242);
    line-height: 55px;
    box-shadow: none;
    margin-left: 5px;
}

.buscarColumnaDos{
    border:none;
    background: #fafafa;
    color: rgb(86, 161, 242);
    line-height: 55px;
    box-shadow: none;
    margin-left: 5px;
    margin-top:7px;
}

mat-button-toggle-group {
    margin-left: 12px;
    flex-direction: column;
    column-count: 3;
    display:inline-flex
}

.columna2{
    margin-left:40px;
    margin-top:75px;
}

.formObservaciones {
    width: 100%;
}

.formColumna2{
    display:flex;
    align-content: center;
}

textarea.mat-input-element{
    height: 120px;
    width: 100%;
}

.filtrado {
    display:flex;
    align-content: center;
}

.botones {
    bottom:0;
    position:absolute;
    margin: 10px;
}

.horarioTurno{
    display: block;
}

.formObservacionesTurnos{
    display: block;
    margin-top: 5px; 
}