<p>nuevo-turno works!</p>
<!-- Divisor de busqueda de paciente con listado -->
    <!-- <div class="columna2">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>DNI</mat-label>
        <input matInput #identificador>
      </mat-form-field> -->
      <!-- Boton de busqueda de pacientes -->
      <!-- <a><button mat-mini-fab class="buscar" (click)="buscarPaciente(identificador.value)"><mat-icon>search</mat-icon></button></a>  -->
    

    <!-- Formulario de datos de paciente buscado -->
    <!-- 
      <form *ngIf="datosPacientes != null">      
        <table class="example-full-width" cellspacing="0"><tr>
          <td><mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Nombre</mat-label>
            <input matInput disabled value="{{this.datosPacientes.nombrePacientes}}">
          </mat-form-field></td>
          <td><mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Apellido</mat-label>
            <input matInput disabled value="{{this.datosPacientes.apellidoPacientes}}">
          </mat-form-field></td>
        </tr>
      
        
        <td><mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Obra Social</mat-label>
          <input matInput disabled value="{{this.datosPacientes.nombreObraSocial}}">
        </mat-form-field>
        </td>
        <td>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Plan O.Social</mat-label>
          <input matInput disabled value="this.datosPacientes.obsObraSocial">
        </mat-form-field></td>
      </table>
      </form>
    </div> -->