<div>
    <h2 mat-dialog-title>Editar Obra Social</h2> 

    <div mat-dialog-content>
        <div  class="container">           
            <form novalidate #f="ngForm">
                <div class= "form-group"> 
                    <mat-form-field appearance="outline">
                        <mat-label>Nombre</mat-label>
                        <input matInput type="text" class="form-control" id="nombreObraSocial" name="nombreObraSocial"
                        [(ngModel)]= "data.nombreObraSocial">
                    </mat-form-field>
                
                    <mat-form-field appearance="outline">
                        <mat-label>Plan</mat-label>
                        <input matInput type="text" class="form-control" id="planObraSocial" name="planObraSocial"
                        [(ngModel)]= "data.planObraSocial" required>
                    </mat-form-field>

                    <div class="pagosCoSeguros">
                        <mat-form-field appearance="outline">
                            <mat-label>Pagos</mat-label>
                            <input matInput type="text" class="form-control" id="pagosObraSocial" name="pagosObraSocial"
                            [(ngModel)]= "data.pagosObraSocial">
                        </mat-form-field>
                    
                        <mat-form-field appearance="outline">
                            <mat-label>Co-Seguros</mat-label>
                            <input matInput type="text" class="form-control" id="coSegurosObraSocial" name="coSegurosObraSocial"
                            [(ngModel)]= "data.coSegurosObraSocial">
                        </mat-form-field>
                    </div>

                    <div class="observaciones">
                        <mat-form-field appearance="outline">
                            <mat-label>Observaciones</mat-label>
                            <textarea matInput type="text" class="form-control" id="obsObraSocial" name="obsObraSocial"
                            [(ngModel)]= "data.obsObraSocial"></textarea>
                        </mat-form-field>
                    </div>
                </div>
            </form>  
        </div>
    </div>
    <div mat-dialog-actions>
        <div class="botones">
            <button mat-raised-button color="primary" [mat-dialog-close]="data" cdkFocusInitial *ngIf="data; else cargandoTemplate">Guardar</button>
            <button mat-raised-button color="basic" (click)="cancelar()">Cancelar</button>
        </div>
    </div>
    <ng-template #cargandoTemplate>
        <mat-spinner></mat-spinner>
    </ng-template>
</div>