
  <!-- Navegacion izquierda responsiva -->
  <mat-sidenav-container>
    <mat-sidenav #sidenav class="sidenav content mat-elevation-z8" mode="side" opened="true">

      <div class="tituloMain">
        <h1><b>DEL PLAZA</b></h1>       
      </div>

      <mat-divider></mat-divider>

      <mat-nav-list>  
        <!--Item y subItems de Turnos--> 

          <mat-list-item (click)="mostrarMenuTurnos = !mostrarMenuTurnos" class="nav">
            <mat-icon mat-list-icon>event</mat-icon>
            <span> Turnos </span>
            <mat-icon class="expansorTurnos" [ngClass]="{'rotated' : mostrarMenuTurnos}">expand_more</mat-icon>
          </mat-list-item>
  
          <div class="submenuTurnos" [ngClass]="{'expandir' : mostrarMenuTurnos}" >   
            <mat-list-item *ngFor = "let item of Turnos" class="nav">
             <span [routerLink]="item.url">{{ item.name }}</span>
            </mat-list-item>
          </div>
  
        <!--Item y subItems de pacientes-->
               
          <mat-list-item (click)="mostrarMenuPacientes = !mostrarMenuPacientes" class="nav">
            <mat-icon mat-list-icon>person</mat-icon>
            <span> Pacientes </span>
            <mat-icon class="expansorPacientes" [ngClass]="{'rotated' : mostrarMenuPacientes}">expand_more</mat-icon>
          </mat-list-item>
  
          <div class="submenuPacientes" [ngClass]="{'expandir' : mostrarMenuPacientes}">   
            <mat-list-item *ngFor = "let item of Pacientes" class="nav">
              <span [routerLink]="item.url">{{ item.name }}</span>
            </mat-list-item>
          </div>

        <!-- Item y subItems configuraciones -->
          <mat-list-item (click)="mostrarMenuConfiguraciones = !mostrarMenuConfiguraciones" class="nav">
            <mat-icon mat-list-icon>settings</mat-icon>
            <span>Configuraciones</span>
            <mat-icon class="expansorConfiguraciones" [ngClass]="{'rotated' : mostrarMenuConfiguraciones}">expand_more</mat-icon>
          </mat-list-item>
          <div class="submenuConfiguraciones" [ngClass]="{'expandir' : mostrarMenuConfiguraciones}">   
            <mat-list-item *ngFor = "let item of Configuraciones" class="nav">
              <span [routerLink]="item.url">{{ item.name }}</span>
            </mat-list-item>
          </div>  

      </mat-nav-list>
      
         <!-- Menu logout -->
         <div class="logout">          
          <mat-list-item *ngFor= "let item of Login">
            <span [routerLink]="item.url" (click)= "removeStorage()" ><mat-icon mat-list-icon class="logouticon">logout</mat-icon>{{ item.name }}</span>
          </mat-list-item>
        </div>
      
    </mat-sidenav>
  
    <!-- Contenedor de componentes -->
    <mat-sidenav-content>
      <div class="contenedores">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
