.tituloMain{
    border-left: 4px solid rgb(86, 161, 242);
}

h1{
    margin-top: 10px;
    margin-left: 20px;
    color:rgb(102,102,102); 
    text-align: left;
    
}

/* Contenido de los componentes*/
.content {
    height: 100vh;
    width: 15%;
    font-size: 2rem;
}

mat-nav-list {
    overflow: hidden;
}

/* Contenido del sidenav */
mat-sidenav-container {
    height: 100vh;
    background-color: #eeeff3;
}

/* Divisor */
mat-divider {
    margin-top: 2px;
    margin-bottom: 2px;
    background-color: rgba(255, 255, 255, 0.5);
}

mat-list-item.nav:hover{
    border-left: 4px solid rgb(86, 161, 242);
}

mat-icon{
    color:rgb(102,102,102);
    padding-right: 5px;
    padding-bottom: 5px;
}

/* Comportamiento de items Turnos */
 .expansorTurnos {
    transition: 300ms ease-in-out;
    transform: rotate(-90deg);
    position:absolute;
    right:5px;
    color:rgb(102,102,102);
}
.expansorTurnos.rotated {
    transform: rotate(0deg);
}

 .submenuTurnos {
    justify-content: center;
    overflow: hidden;
    transition: transform 300ms ease;
    transform: scaleY(0);
    transform-origin: top; 
    font-size: 1rem;
    height: 0;
} 

.submenuTurnos.expandir{
    transform: scaleY(1);
    height: auto;
}

/* Comportamiento de items pacientes */
.expansorPacientes {
    transition: 300ms ease-in-out;
    transform: rotate(-90deg);
    position:absolute;
    right:5px;
    color:rgb(102,102,102);
}
.expansorPacientes.rotated {
    transform: rotate(0deg);
}

.submenuPacientes {
    overflow: hidden;
    transition: transform 300ms ease;
    transform: scaleY(0);
    transform-origin: top;
    font-size: 1rem;
    height: 0;
}

.submenuPacientes.expandir{
    transform: scaleY(1);
    height: auto;
}

/* Comportamiento de items configuraciones */
.expansorConfiguraciones {
    transition: 300ms ease-in-out;
    transform: rotate(-90deg);
    position:absolute;
    right:5px;
    color:rgb(102,102,102);
}
.expansorConfiguraciones.rotated {
    transform: rotate(0deg);
}

.submenuConfiguraciones {
    overflow: hidden;
    transition: transform 300ms ease;
    transform: scaleY(0);
    transform-origin: top;
    font-size: 1rem;
    height: 0;
}

.submenuConfiguraciones.expandir{
    transform: scaleY(1);
    height: auto;
}

span {
    display: flex;
    font-size: 0.8rem ;
    width: 90%;
    padding-left: 10px;
    color:rgb(102,102,102);
}

mat-sidenav-content{
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
}

.logout {
    display:flex;
    cursor:pointer;
    width: 100%;
    position:absolute;
    bottom:0;
    justify-content: center;
    white-space: nowrap;
}

.logouticon {
    padding-right: 5px;
    padding-bottom: 5px;
}
